img.putin {
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

img.putin1 {
  animation: putin1 1s linear infinite;
}

img.putin2 {
  animation: putin2 1s linear infinite;
}

@keyframes putin1 {
  0% {
    transform: rotate3d(137, 86, 32, 0deg);
    margin: 90px;
    border-width: 0px;
  }

  50% {
    transform: rotate3d(247, 230, 187, 180deg);
    margin: 0px;
    border: 90px solid #4D4986;
  }

  100% {
    transform: rotate3d(148, 97, 37, 0deg);
    margin: 90px;
    border-width: 0px;
  }

}

@keyframes putin2 {
  0% {
    transform: rotate3d(137, 86, 32, 0deg);
    margin: 90px;
    border-width: 0px;
  }

  50% {
    transform: rotate3d(247, 230, 187, 180deg);
    margin: 0px;
    border: 90px solid #4D4986;
  }

  100% {
    transform: rotate3d(148, 97, 37, 0deg);
    margin: 90px;
    border-width: 0px;
  }
}

@keyframes .putin3 {
  0% {
    transform: rotate3d(137, 86, 32, 0deg);
    margin: 90px;
    border-width: 0px;
  }

  50% {
    transform: rotate3d(247, 230, 187, 180deg);
    margin: 0px;
    border: 90px solid #4D4986;
  }

  100% {
    transform: rotate3d(148, 97, 37, 0deg);
    margin: 90px;
    border-width: 0px;
  }
}
@keyframes .putin4 {
}
@keyframes .putin5 {

}
@keyframes .putin6 {

}
@keyframes .putin7 {

}
@keyframes .putin8 {

}
@keyframes .putin9 {

}
@keyframes .putin10 {

}
@keyframes .putin11 {

}
@keyframes .putin12 {

}
@keyframes .putin13 {

}
@keyframes .putin14 {

}
