img.putin {
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

img.putin1 {
  animation: putin1 1s linear infinite;
}

img.putin2 {
  animation: putin2 1s linear infinite;
}

img.putin3 {
  animation: putin3 1s linear infinite;
}

img.putin4 {
  animation: putin4 1s linear infinite;
}

img.putin5 {
  animation: putin5 1s linear infinite;
}

img.putin6 {
  animation: putin6 1s linear infinite;
}

img.putin7 {
  animation: putin7 1s linear infinite;
}

img.putin8 {
  animation: putin8 1s linear infinite;
}

img.putin9 {
  animation: putin9 1s linear infinite;
}

img.putin10 {
  animation: putin10 1s linear infinite;
}

img.putin11 {
  animation: putin11 1s linear infinite;
}

img.putin12 {
  animation: putin12 1s linear infinite;
}

img.putin13 {
  animation: putin13 1s linear infinite;
}

img.putin13 {
  animation: putin14 1s linear infinite;
}

@keyframes putin1 {
  0% {
    transform: rotate3d(137, 86, 32, 0deg);
    margin: 90px;
    border-width: 0px;
  }

  50% {
    transform: rotate3d(247, 230, 187, 180deg);
    margin: 0px;
    border: 90px solid #4D4986;
  }

  100% {
    transform: rotate3d(148, 97, 37, 0deg);
    margin: 90px;
    border-width: 0px;
  }

}

@keyframes putin2 {
  0% {
    transform: rotate3d(383, 249, 63, 0deg);
    margin: 90px;
    border-width: 0px;
  }

  50% {
    transform: rotate3d(9, 832, 243, 180deg);
    margin: 0px;
    border: 90px solid #4D4986;
  }

  100% {
    transform: rotate3d(64, 156, 32, 0deg);
    margin: 90px;
    border-width: 0px;
  }
}


@keyframes putin3 {
  0% {
    transform: rotate3d(453, 736, 982, 0deg);
    margin: 90px;
    border-width: 0px;
  }

  50% {
    transform: rotate3d(-48, 420, 69, 180deg);
    margin: 0px;
    border: 90px solid #4D4986;
  }

  100% {
    transform: rotate3d(76, 123, 438, 0deg);
    margin: 90px;
    border-width: 0px;
  }
}
@keyframes putin4 {
  0% {
    transform: rotate3d(-2, -5, -38, 0deg);
    margin: 90px;
    border-width: 0px;
  }

  50% {
    transform: rotate3d(38, 92, -82, 180deg);
    margin: 0px;
    border: 90px solid #4D4986;
  }

  100% {
    transform: rotate3d(23, -48, 72, 0deg);
    margin: 90px;
    border-width: 0px;
  }
}
@keyframes putin5 {
  0% {
    transform: rotate3d(48, -56, 7, 0deg);
    margin: 90px;
    border-width: 0px;
  }

  50% {
    transform: rotate3d(-99, 34, -4, 180deg);
    margin: 0px;
    border: 90px solid #4D4986;
  }

  100% {
    transform: rotate3d(28, 82, -17, 0deg);
    margin: 90px;
    border-width: 0px;
  }
}
@keyframes .putin6 {

}
@keyframes .putin7 {

}
@keyframes .putin8 {

}
@keyframes .putin9 {

}
@keyframes .putin10 {

}
@keyframes .putin11 {

}
@keyframes .putin12 {

}
@keyframes .putin13 {

}
@keyframes .putin14 {

}
