body {
  background-color: ffffa5;
}

h1 {
  color: olive;
  font-size: 50px;
  text-align: center;
  font-family: "Comic Sans", "Comic Sans MS";
  background-color: 3d4619;
  display: inline;
}

div {
  padding-top: 10px;
  rotate: 9deg;
}

.p1 {
  rotate: -18deg;
}
