html {
  background-color: #ffffa5;
  
  /*
  overflow: auto !important;
  scrollbar-width: none !important; 
  */
  
}

/*
html::-webkit-scrollbar {
  display: none !important; 
}
*/



h1 {
  color: olive;
  font-size: 50px;
  text-align: center;
  font-family: "Comic Sans", "Comic Sans MS";
  background-color: #3d4619;
  display: inline;
}

.d1 {
  font-family: "Comic Sans", "Comic Sans MS";
  color: #eaeef2;
}

p {
  display: block;
  background-color: white;
  transform-origin: center; 
  white-space: nowrap;
  width: fit-content;
}

.p1 {
  rotate: -18deg;
}

.p2 {
  rotate: 5deg;
}
.p3 {
  rotate: -25deg;
}
.p4 {
  rotate: 28deg;
}
.p5 {
  rotate: -45deg;
}
.p6 {
  rotate: 34deg;
}
.p7 {
  rotate: 210deg;
}
.p8 {
  rotate: 265deg;
}
.p9 {
  margin-top: 50cm;
  font-size: 110px;
  font-family: Chiller; 
}
.p10 {
  margin-top: 100000cm;
}
