p{
text-align:center;
width: 200;
color: 5f008b;
background: maroon

}

p1{
color: white;
background-color: white;

}

a:active, a:visited {
  padding-top: 0.000001px;
}

img{

<<<<<<< HEAD
height: 100px;
width: 100px
=======
height: 100px

>>>>>>> origin/master
}
